
.logo {
    font-size: 20px;
    color: black;
}

.nav-tabs>li>a.active {
    border-bottom: 2px solid #00c292
}

.flex {
    display: flex;
}

.mx-auto {
    margin: 0px auto;
}

.justify-between {
    justify-content: space-between;
}

.text-success {
    color: #00c292;;
}